{% extends "base.html" %}

{% block lab %}Лабораторная работа №8{% endblock %}

{% block main %}
    <style>
        .lab8-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f1eaf1;
            padding: 15px 20px;
            border-bottom: 2px solid #f1b4df;
            margin: -20px -20px 20px -20px;
        }

        .nav-links {
            display: flex;
            gap: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #e42ba6;
            font-weight: 500;
            padding: 5px 10px;
        }

        .nav-links a:hover {
            color: #e270a9;
        }

        .username {
            font-weight: bold;
            color: #f042ca;
        }
    </style>
    
    <div class="lab8-menu">
        <div class="nav-links">
                <a href="/lab8/articles/">Список статей</a>
                <a href="/lab8/login">Вход</a>
                <a href="/lab8/register">Регистрация</a>
                <a href="/lab8/logout">Выход</a>
        </div>
        <div class="username">
            Пользователь: {{ username }}
        </div>
    </div>
    
    <h1>База знаний</h1>
{% endblock %}